#header,.header-signin a:hover,.header-signup a:hover{background-color: #2acbbb;}
#logo a, .logo a{background:url(../images/logo_1.png) center center no-repeat;width:280px;background-size:contain;}
.nav-item a.active,.nav-item a:hover,.header-signup a:hover,.header-signin a:hover{background-color: #2acbbb;color: red;}
.nav-item a{font-size: 1pc;}
.moco-course-wrap .moco-course-box{height: 166px}
.moco-course-wrap .moco-course-box .moco-course-intro{top:82px}
.moco-course-wrap .moco-course-box .moco-course-intro{background-image: none;background-color: rgba(42,203,187,0.8)}
.moco-course-wrap .moco-course-box .moco-course-bottom{background-color: #2acbbb}
.moco-course-wrap .moco-course-box .moco-course-intro h3,.header-signin a,.header-signup a{color:#fff;}
.moco-course-wrap .moco-course-box .moco-course-intro p,.moco-course-wrap .moco-course-box .moco-course-bottom{color:#fff;}
.search-warp{margin-right:60px;}
.search-area{padding-right: 0px;border:0px;padding-top:4px;}
.search-area .search-input{background-color: #fff;border-radius:3px;line-height:30px;height:30px;color:#71777d;}
.search-warp i{color:#2e93c9;width:25px;}
.search-warp i:hover{color:#2e93c9;}